
.course-curriculum{
    background-color: gainsboro;    
    text-align: center;
    padding-right: 25px;
}

.course-curriculum h1{
	text-align: left;
}

.mainView ul{
	list-style: none;
	text-align: left;
	padding-left: 0;
	margin-top: 10px;
}
.mainView li{
	list-style: none;
	background-color: darkgray;
    color: #464545;    
    padding: 0;
}
.mainView ul li h4{
	padding: 10px 10px 0px 10px;
}
.mainView ul ul{
	padding: 0px;
	background-color: azure;
}
.mainView ul ul li{
	border-top: #e3e6e6 1px solid;
    background-color: #c2c3c3;
	padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.mainView ul ul li i{
	font-size: 23px;
    position: relative;
    top: 3px;    
    margin: 2px 5px;
}
.mainView ul ul li button{
	max-height: 35px;
	float: right;
}
.left-menu{
	padding-left: 25px;
}
.mainView{
	margin-top: 0;
}
.mainView .left-menu{
	margin-top: 120px;
}
.mainView .course-curriculum{
	padding-top: 100px;
}
.left-menu .progress-bar{
	width: 100%;
    background-color: #c5c5c5;
    height: 14px;
    border-radius: 20px;
    margin-top: 10px;
}
.left-menu .progress-text{
	text-align: center;
    font-size: 12px;
    color: #337ab7;
}
.left-menu .progress-text .percentage{
	font-size: 18px;
}