
.course-curriculum{   
    text-align: center;
    padding-right: 25px;
}
.course-curriculum h1{
	text-align: left;
}
.left-menu-back{
    background-color: gainsboro;
    padding-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 3px;
}
.left-menu{
	padding-left: 25px;
}
.mainView{
	margin-top: 0;
}
.mainView .left-menu{	
	margin-top: 120px;
}
.course-player{
	margin: 0 12px;
}
.mainView .course-curriculum{
	padding-top: 100px;
}
.left-menu .progress-bar{
    width: 93%;
    background-color: #c5c5c5;
    height: 14px;
    border-radius: 20px;
    margin-top: 10px;
}
.left-menu .progress-text{
	text-align: center;
    font-size: 12px;
    color: #337ab7;
    padding-right: 6%;
}
.left-menu .progress-text .percentage{
	font-size: 18px;
}
.course-player i{
	padding: 0 10px 0 15px;
}
.video{
	width: 500px;
    height: 325px;
    background-image: url(http://www.technologytell.com/gadgets/files/2012/07/hulu-web-player-640.jpeg);
    background-size: cover;
    background-position-x: -38px;
}
.mainView ul{
	list-style: none;
	text-align: left;
	padding-left: 0;
    margin: -5px -5px 15px -13px;
}
.mainView li{
	list-style: none;
	background-color: darkgray;
    color: #464545;   
    padding: 0;    
    margin: 0px 0px 0px 0px;
    font-size: 12px;
}
.mainView ul li h4{
	padding: 10px 10px 0px 10px;
}
.mainView ul ul{
	padding: 0px;
	background-color: azure;
}
.mainView ul ul li{
	border-top: #e3e6e6 1px solid;
    background-color: #c2c3c3;
	padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0px 9px 0px 14px;
    font-size: 12px;
}
.mainView ul ul li i{
    font-size: 19px;
    position: relative;
    top: 3px;
    margin: 1px 3px;
}
.mainView ul ul li button{
	max-height: 35px;
	font-size: 12px;
    width: 100px;
    padding: 1px !important;
}
.mainView{
    overflow-x: hidden;
}